[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-extras"]
	path = pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "tinyusb_due"]
	path = tinyusb_due
	url = git@github.com:phatchman/tinyusb_due.git
